/* .rs-grid-container{
    margin-right: 500px;
    padding-left: 5px;
    padding-right: 5px;
} */
/* .total-middlepart{
    width: 500px;
    text-align: center;
    border: 1px solid black;
    
    position: relative;
}
@media (min-width: 992px){
.rs-col-md-offset-12 {
    margin-left: 0%;
}
}

@media (min-width: 992px){
   .rs-col-md-12 {
    width: 0%;
}
} */

@media (min-width: 992px){
    .rs-col-md-offset-12 {
        margin-left: 0% !important;
    }
}

.sign-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
